# Ambientes Virtuais
venv/
.venv/
env/

# PyCharm / IDE
.idea/
.vscode/

# Python Cache
__pycache__/
*.pyc

# Dados e Modelos Pesados (Fase 3)
chroma_db/
results/
models/
*.safetensors
*.pt
*.bin

# Arquivos de sistema
.DS_Store

# Credenciais (Segurança)
kaggle.json
.env